<h1>Your Fridge Collection!</h1> <a href="/fridges/new">(add yet another fridge to your massive fridge collection)</a>

<hr>

<p>Spot Check Your Fridges!</p>

<% @fridges.each do |fridge| %>
<ul>
  <li>
  <%= link_to "#{fridge.location}", fridge_path(fridge) %>
  </li>
</ul>
<% end %>